* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul a{
    color: white;
    text-decoration: none;
}
  
a {
    color: #faa500;

}

ul {
    list-style-type: none;
}

header {
    height: 80px;
    background-color: black;
    color: white;


}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

nav ul {
    display: flex;
    gap: 30px;
}

.main {
    height: 100vh;
    background-image: url("/images/main-beer.jpeg");

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.main__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.main__button {
    color: white;
    background-color: black;
    padding: 30px;
}

.location {
    text-align: center;
    padding: 20px;
}


.location p {
    text-align: left;
}

.gallery {
    padding: 20px;
    text-align: center;
}

.gallery img {
    width: 100%;
}

.photo-mash {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.poster {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.beer {
    padding: 20px;
    text-align: center;
}

.types-of-beer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 200px;
    margin: 50px;

}

.types-of-beer p {
    text-align: left;
}

.types-of-beer__beer-item {
    max-width: 400px;
}

.team {
    padding: 20px;
    text-align: center;
}



.team-photo-mash img {
    width: 480px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.copyright,
.phone {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 1200px) {
    .types-of-beer {
        gap: 50px;
    }
}

@media (max-width: 992px) {
    .types-of-beer {
        gap: 40px;
    }
    .photo-mash {
    
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .types-of-beer {
        gap: 20px;
    }
}

@media (max-width: 425px) {
   
    footer {
        display: none;
    }
}